@model List<DomainModel.TestObject>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Objects in DB:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var to in Model)
            {
                <tr>
                    <td>@to.Id</td>
                    <td>@to.Name</td>
                    <td>@to.Description</td>
                    <td>
                        @if (to.Tags != null)
                        {
                            @string.Join(",", to.Tags)
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
